* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

navbar {
    width: 100%;
    height: 64px;
    background-color: #8D72E1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.page__title {
    font-size: 3em;
    margin: 20px 0px;
    background-color: #8D72E1;
    padding: 5px 15px;
    color: #fff;
    border-radius: 0.3em;
}

.no-cards {
    background-image: url('/static/images/background.svg');
    background-size: cover;
    width: 80%;
    height: 500px;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title__empty {
    font-size: 3em;
    margin: 20px 0px;
    color: #fff;

}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    width: 500px;
    height: 300px;
    background-color: #8D72E1;
    border-radius: 1em;
    position: relative;
    margin: 1em;
}

.card__brand {
    font-size: 1.5em;
    color: #fff;
    position: absolute;
    left: 69%;
    top: 4%;
    width: 140px;
}

.card__series {
    position: absolute;
    right: 83.5%;
    top: 15%;
}

.series__number {
    font-size: 1.5em;
    color: #fff;
}

.series__title {
    color: orange;
}

.card__number {
    font-size: 2.5em;
    letter-spacing: 0.2em;
    position: absolute;
    top: 40%;
    left: 11.5%;
    color: #44f5b1;
    text-decoration: none;
    transition: 0.5s;
}

.card__number:hover {
    background: orange;
    color: #fff;
    border-radius: 1em;
    left: 9.5%;
    padding: 0px 10px;
}

.card__expiration-date {
    color: #44f5b1;
    position: absolute;
    top: 72%;
    left: 70%;
    width: 100px;
}

.date__title {
    color: orange;
}

.card__holder {
    position: absolute;
    top: 69%;
    right: 40.5%;
    width: 255px;
}

.holder__title {
    color: orange;
}

.holder__name {
    font-size: 1.5em;
    color: #44f5b1;
    text-decoration: none;
    transition: 0.5s;
}

.holder__name:hover {
    background: orange;
    color: #fff;
    border-radius: 1em;
    padding: 1px 10px;
}

/* Login page styles */

.background {
    background-image: url('/static/images/background.svg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 969px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__card {
    width: 350px;
    height: 400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.2em;
}

.login__title {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.login__input {
    padding: 15px;
    margin-bottom: 5px;
    width: 300px;
    border: none;
    border-bottom: 2px solid #8D72E1;
}

.login__input:focus {
    outline: none;
}

.form__controls {
    text-align: center;
    margin-bottom: 50px;
}

.login__new-account {
    margin: 10px;
    font-size: 1.05em;
}

.login__new-account a {
    text-decoration: none;
    color: #8D72E1;
    transition: 0.2s;
}

.login__new-account a:hover {
    color: #8D72E1;
    border-bottom: 2px solid #44f5b1;

}

/* Signup page styles */

.signup__card {
    width: 350px;
    height: 500px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.2em;
}

/* Card generator page styles */
.card-generator__page {
    height: 898px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Forms styles */
.form__control p {
    width: 200px;
    margin-bottom: 15px;
}

.form__control p label {
    font-size: 1.2em;
    font-weight: 400;
}

.form__control p input {
    width: 280px;
    border: none;
    border: 1px solid #8D72E1;
    border-radius: 0.5em;
    padding: 5px;
}

.form__control p input:focus{
    outline: none;
    border-left: 2px solid #8D72E1;
}

/* Card profile page styles */
.profile__page {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile__aside {
    background: #8D72E1;
    border-radius: 1em;
    height: 550px;
    width: 350px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    overflow-y: scroll;
}

.aside__title {
    padding: 10px;
    font-size: 2em;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.aside__no-orders {
    font-size: 1.5em;
    color: #fff;
    margin: 0 auto;
}

.order__ol {
    padding: 10px 0px 0px 40px;
}

.order__elem {
    font-size: 1.3em;
    color: #fff;
}

/* UI components style */
.btn {
    border: none;
    border-radius: 0.2em;
    background-color: #8D72E1;
    padding: 10px;
    color: #fff;
    text-align: center;
    width: 300px;
    font-size: 1.3em;
    transition: 0.5s;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #44f5b1;
    color: #8D72E1;
}

.link {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}

.link:hover {
    color: #44f5b1;
}

.link:active {
    color: orange;
}

.shadow {
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}

.hide {
    display: none;
}

/* Scroll bar styles */

::-webkit-scrollbar-track
{
	border: 5px solid white;
	background-color: #8D72E1;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
	background-color: orange;
}

/* Search bar styles */
.search {
    position: absolute;
    left: 63%;
    top: 11%;
}

.search__input {
    width: 40px;
    height: 40px;
    border-radius: 5em;
    border: none;
    transition: 0.5s;
    background-image: url('https://icons.iconarchive.com/icons/icons8/windows-8/256/Very-Basic-Search-icon.png');
    object-fit: cover;
    background-position: center;
    background-size: 25px;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-color: #8D72E1;
    color: #fff;
}

.search__input:focus, .search__input:hover {
    border-radius: 1.5em;
    width: 400px;
    outline: none;
    opacity: 1;
    padding: 10px 70px 10px 30px;
    background-position-x: 90%;
}

.search__input:hover {
    opacity: 1;
}

.search__input::placeholder {
    opacity: 0;
}

.search__input:focus::placeholder, .search__input:hover::placeholder {
    opacity: 1;
    color: #fff;
}